header,
main,
footer {
    display: inline-block;
    width: 800px;
    margin-bottom: 30px;
    margin-left: calc(50% - 400px);
    background-color: yellow;

}

header > img {
    float: left;

}

nav > a {
    float: left;
    margin-right: 10px;
    font-size: 20px;
    line-height: 20px;
    text-decoration: none;
    
}

nav {
    
    margin-top: 10px;
    float: right;
    
}

nav > a:nth-of-type(4) {
    background-color: red;

}

a {

}

main {}

main a {
    background-color: orange
}

footer {}