header,
main,
footer {
    width: 800px;
    margin: auto;
    margin-bottom: 30px;
    background-color: yellow;

}

header > img {
    background-color: blue;
}

nav > a {
    background-color: red

}

a {
    background-color: red;
}

main {

}

main a {
    background-color: orange
}

footer {
   
}